#header {
    color:white;
    font-size:36px;
    padding:20px;
    font-family: 'Mountains of Christmas', cursive;
}
button{
    padding:20px;
    border:10px;
    margin:20px;
}
.scores {
    color:white;
    font-size:28px;
    padding:15px;
    font-family: 'Mountains of Christmas', cursive;
}
#rules {
    color:white;
    font-size:28px;
    padding:15px;
    font-family: 'Mountains of Christmas', cursive;
}
#myGame{
    font-family:'Mountains of Christmas', cursive;
    font-size:20px;
    color:white;
    background-color:transparent;
    float:initial;
}
